<h2>ACCOUNT CREATED</h2>
<p>Hi <strong><%= @user.name %></strong>. Your account is successfully created.</p>
<p>Please activate your account by clicking on the activation link sent to your email: <strong><%= @user.email %></strong>.</p>
<p>Thanks!</p>
<br/><br/>
<a href="/">GO BACK TO LOGIN PAGE</a>